body {
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    position: fixed;
}

select { cursor: pointer; }

#header {
    color: #CCC;
    background: black;
    height: 28px;
    line-height: 28px;
    position: fixed;
    left: 0; right: 0; top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#left-panel {
    position: fixed;
    left: 0;
    width: 400px;
    top: 28px;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#right-panel {
    position: fixed;
    left: 400px;
    right: 0;
    top: 28px;
    bottom: 0;
    border-left: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}
